# folders
checkpoint
test_result

# files
*.pyc
*.swp
*.tar
*.sh
sbatch*
*.ipynb

# data
pretrain/glove
pretrain/bert-base-uncased

# virtualenv
.virtual

# result
result*

# test data
data/test_wiki.json
data/test_pubmed.json
data/train_wiki+pubmed.json
data/pubmed.json

# tmp file
pretrain.tar

# mac cache
.DS_Store

# editor cache
.idea
.vscode
.venv
